.front-layout{
    background: #f5f6f7;
}
.front-notice {
    padding: 5px 20px;
    color: #666;
    font-size: 12px
}
.logo {
    width: 150px;
    margin-top: 20px;
}
.front-header {
    display: flex;
    height: 100px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    background: #f5f6f7;
}
.front-header-left {
    width: 400px;
    /*display: flex;*/
    /*align-items: center;*/
    padding-left: 30px;
}
.front-header-dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%
}
.front-header-center {
    flex: 1;
}
.front-header-right {
    width: 200px;
    padding-right: 20px;
    text-align: right;
}
.front-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: right;
}
.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/*页面具体样式自定义*/
.main-content {
    width: 100%;
    margin: 5px auto;
}
/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 80px;
}