<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.nomelin.cometpan.dao.FileMapper">

    <select id="selectAll" resultType="FileMeta">
        select
        id, disk_id, user_id, folder_id, root_folder_id, size, `delete`, folder, name, path, type, crate_time,
        update_time
        from files
        <where>
            <if test="id != null">and id= #{id}</if>
            <if test="name != null">and name like concat('%', #{name}, '%')</if>
            <if test="userId != null">and user_id= #{userId}</if>
            <if test="folderId != null">and folder_id= #{folderId}</if>
            <if test="rootFolderId != null">and root_folder_id= #{rootFolderId}</if>
            <if test="type != null">and type= #{type}</if>
            <if test="delete != null">and `delete`= #{delete}</if>
            <if test="folder != null">and folder like concat('%', #{folder}, '%')</if>
            <if test="path != null">and path like concat('%', #{path}, '%')</if>

        </where>
        order by folder_id desc
    </select>

    <select id="selectById" resultType="FileMeta">
        select id,
        disk_id,
        user_id,
        folder_id,
        root_folder_id,
        size,
        `delete`,
        folder,
        name,
        path,
        type,
        crate_time,
        update_time
        from files
        <where>
            and id = #{id}
        </where>

    </select>

    <delete id="deleteById">
        delete
        from files
        where id = #{id}
        and `delete` = 1
    </delete>

    <delete id="deleteBatch">
        delete
        from files
        where user_id = #{userId}
          and `delete` = 1
    </delete>


    <insert id="insert" parameterType="FileMeta" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into files
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="diskId != null">disk_id,</if>
            <if test="name != null">name,</if>
            <if test="folder != null">folder,</if>
            <if test="path != null">path,</if>
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
            <if test="size != null">size,</if>
            <if test="crateTime != null">crate_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="folderId != null">folder_id,</if>
            <if test="rootFolderId != null">root_folder_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="diskId != null">#{diskId},</if>
            <if test="name != null">#{name},</if>
            <if test="folder != null">#{folder},</if>
            <if test="path != null">#{path},</if>
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
            <if test="size != null">#{size},</if>
            <if test="crateTime != null">#{crateTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="folderId != null">#{folderId},</if>
            <if test="rootFolderId != null">#{rootFolderId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="FileMeta">
        update files
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="diskId != null">
                disk_id = #{diskId},
            </if>
            <if test="folder != null">
                folder = #{folder},
            </if>
            <if test="path != null">
                path = #{path},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="size != null">
                size = #{size},
            </if>
            <if test="crateTime != null">
                crate_time = #{crateTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="folderId != null">
                folder_id = #{folderId},
            </if>
            <if test="rootFolderId != null">
                root_folder_id = #{rootFolderId},
            </if>
            <if test="delete != null">
                `delete` = #{delete},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>