<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.nomelin.cometpan.dao.UserMapper">
    <select id="selectAll" parameterType="User" resultType="User">
        select id, name, user_name, password, avatar, role, phone, email, used_space
        from user
        <where>
            <if test="id != null">and id= #{id}</if>
            <if test="userName != null">and user_name like concat('%', #{userName}, '%')</if>
            <if test="password != null">and password= #{password}</if>
            <if test="name != null">and name= #{name}</if>
            <if test="phone != null">and phone= #{phone}</if>
            <if test="email != null">and email= #{email}</if>
            <if test="avatar != null">and avatar= #{avatar}</if>
            <if test="role != null">and role= #{role}</if>
        </where>
    </select>

    <select id="selectById" resultType="User">
        select id,
               name,
               user_name,
               password,
               avatar,
               role,
               phone,
               email,
               used_space
        from user
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete
        from user
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="User" useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userName != null">user_name,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userName != null">#{userName},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="User">
        update user
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>